@page "/"

<PageTitle>Home</PageTitle>

<h1 class="display-6">Hello, world!</h1>

<p>Welcome to Blazor Clean Architecture.</p>

<p>An easily modified template illustrating an implementation of clean architecture for a .NET 8 Blazor (SSR) web app.</p>

<p>Also demonstrated is usage of industry standard MediatR for implementing CQRS. A nice intro video is available <a href="https://youtu.be/yozD5Tnd8nw?si=vRZqlRXVtbG4eVY8" target="_blank">here</a></p>