@page "/articles";
@using BCAT.Application.Articles
@using BCAT.Application.Articles.GetArticles
@using BCAT.Domain.Articles
@using Microsoft.AspNetCore.Components.Web
@using MediatR;

@attribute [StreamRendering]

@inject ISender Sender;

<PageTitle>Articles</PageTitle>
<h3>Articles</h3>

<a href="/article-editor" class="btn btn-primary">Create new Article</a>
@if (articles.Count == 0)
{
    <p><em>loading....</em></p>
}
else
{
    foreach (ArticleResponse a in articles)
    {
       <h4>@a.Title</h4>
        <p>@a.Content</p>
        <small>@a.DatePublished</small>
        <a href="/article-editor/@a.Id">Edit Article</a>

    }
}

@code {
    private List<ArticleResponse> articles = new();


    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(1000);

        var result = await Sender.Send(new GetArticlesQuery());
        if (result != null)
        {
            articles = result;
        }

    }


}
